<!DOCTYPE html>

<html>

<head>
	<title> Chitter </title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/css_reset.css"> 
  <link rel="stylesheet" type="text/css" href="../stylesheets/chitter.css">  
</head>

<body>

	<header>

		<div id="welcome">
			<% if current_user %>
				<span id="welcome-message"> Welcome, <%= current_user.name %> </span>
			<% else %>
				<span id="welcome-message"> Welcome to Chitter! </span>
			<% end %>
		</div>		

		<div id="sign_in">
			<a href="/sessions/new">Log In</a>
			<a href="/users/new">Sign Up</a>
			<% if current_user %>
				<form class="sign_out" action="/logout" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Sign Out">
				</form>
			<% end %>
		</div>

	</header>

		<% if current_user %>
			<div id="peep-form">
				<span id="peep-header"> <%= current_user.name %>, enter your Peep here: </span>
				<form action="/peep" method="post">
					<input type="text" name="body" placeholder="Enter your peep here">
					<input type="submit" value="Submit">
				</form>
			</div>
		<% end %>	

			<div id="peep-box">
				<ul>
					<% @peeps.each do |peep| %>
						<div id="peeps">
							<li><%= peep.body %></li>
							<li> Created by: <%= peep.user.name %> @ <%= peep.time_stamp.asctime %></li>
						</div>		
					<% end %>
				</ul>
			</div>
		
</body>

</html>
